.header {
    height: 78px;
    background-color: #1C2B35;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
}

.header a {
    color: #fff;
    text-decoration: none;
    margin-left: 30px;
}

.header a:hover {
    color: darkgoldenrod;
}

.btn-logout-signin-signup {
    border: 1px solid #fff;
    border-radius: 10px;
    padding: 5px;
}